body.container{background-color: #0000ff}
div#MEIN{
	position: fixed;
	background-color: #0000ff;
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 100%;
	margin-left: 0%;
	margin-right: 0%;
	background-opacity: 0.5;
	text-shadow: 1px 0.5px grey;
	color: white	
}
select*{border-radius: 2px}
h1{text-align: center;}
h3{text-align: center;}
button{border-radius: 6px; border-color: #006600; box-shadow: 2px 2px #0000ff; background-color: #00b300; color: #000000}
div#SETUP{color: #ffffff; text-shadow: 1px 0.5px grey}
input#IdEx{color:black}
input#ClavEx{color:black}
input#Npreg{color:black}
input#Nres{color:black}
select#MeinSel1{color:black}
select#MeinSel2{color:black}
select#ResErrA{color:black}
select#ResErrB{color:black}
select#ResErrC{color:black}
div#EditEXAM{background-color: #ffff99;	color:black}
button.atras{background-color: #ff3300; box-shadow: 2px 2px #b3b3b3}
button#corregir{background-color: ##00b300; box-shadow: 2px 2px #cca300}
button#GuarPlantEx{background-color: ##00b300; box-shadow: 2px 2px #cca300}
div#EXAMEN{background-color: #ffd11a; color:black; padding-left: 3%}
div#NOTA{color:white}
div#INSTRUCCIONES{color: white; text-align: justify;}
span.importante{color:yellow; font-size: 18px}
div#ACERCAdE{color:white;}
img.RN{height: 40px; width: 40px;
