body{
	width: 100%; 
	height: 100%; 
	background-image: url("fondo.png");
    background-attachment: fixed;
    }
h4{
    color: solid yellow;
    text-align: center;
    }
span{
    color: solid blue;
    text-align: center;
    font-size-adjust: 18px;
    text-shadow: 2px 2px solid grey;
    font-family: arial-black;                
    }
div{
    width: 25%;
    border: 10px solid black opacity 0.5;
    opacity: 0.5;
    background-color: #809fff;
    border-radius: 15px;
    padding: 2%;
    margin: 1% ;
    box-shadow: 5px 5px lightblue;
    }
div.alfa {
    position: absolute;
    top:    2%;
    left:   0%;
    display: inline-grid;
    }
div.bravo{
    position: absolute;
    top:    35%;
    left:   0%;
    display: inline-grid;
    }
div.charlie{
    position: absolute;
    top:    2%;
    left:   33%;
    display: inline-grid;
    }
div.delta{
    position: absolute;
    top:    2%;
    left: 66%;
    display: inline-grid;    
    }
div.ecco{
    position: absolute;
    top:    35%;
    left:   66%;
    display: inline-grid;
    }
div.foxtrot{
    position: absolute;
    top:    68%;
    left: 0%;
    display: inline-grid;
    }
div.golf{
    position: absolute;
    top:    68% ;
    left:   66%;
    display: inline-block;
    }
div.zulu999{
    width: 100%;
    border: 0px 0px transparent;
    opacity: 1;
    background-color: transparent;
    position: absolute;
    top:    100% ;
    display: inline;
    font-size-adjust: 18px;
    text-shadow: 2px 2px solid grey;
    font-family: arial-black;  
    }